#ignore log files
*log*.txt

#ignore filepath text files
*filelist*.txt
*filenames*.txt
*test*.txt
*example*.txt

#ignore files starting with .#
.#*

#ignore emacs backups
*~

#ignore pickle files
*.pickle
*.pkl

#ignore subfolders
old/
explain/
notebooks-ml4a/
classification/*/
visualisation/paths/
visualisation/logs/
visualisation/heatmap/
extra/
ml-scripts/
test/

#ignore jupyter notebook checkpoints and config files
.ipynb_checkpoints
.config_ipynb

#ignore json files
*.json

#ignore remote
visualisation/remote
