#ignore log files
*log*.txt

#ignore .dat files
*.dat

#ignore filepath text files
*filelist*.txt
*filenames*.txt
*test*.txt
*example*.txt

#ignore files starting with .#
.#*

#ignore emacs backups
*~

#ignore pickle files
*.pickle
*.pkl

#ignore subfolders
old/
explain/
notebooks-ml4a/
classification/*/
visualisation/paths/
visualisation/logs/
visualisation/heatmap/
extra/
ml-scripts/
test/
cats/
create-db/not_needed
interactive/memory_tests
labelling/reports

#ignore a few specific files
create-db/fts_test.ipynb
create-db/get_captions_test.ipynb
jupyter_config.ipynb

#ignore jupyter notebook checkpoints and config files
.ipynb_checkpoints
.config_ipynb

#ignore json files
*.json

#ignore remote
visualisation/remote
