#ignore log files
*log*.txt

#ignore filepath text files
*filelist*.txt
*filenames*.txt

#ignore files starting with .#
.#*

#ignore emacs backups
*~

#ignore subfolders
old/
explain/
notebooks-ml4a/
classification/*/
visualisation/paths/
visualisation/logs/
visualisation/heatmap/
extra/
ml-scripts/

#ignore jupyter notebook checkpoints and config files
.ipynb_checkpoints
.config_ipynb
