{% extends 'base.html' %}

{% block content %}

  <!-- test mathjax -->
  <!-- $J(x)=\int_0^1\alpha_x(\dot x)dt$ -->

  <div id="sbar">

    <ul>
      {% block header %}
        <h1><a href={{ url_for("core.get_images") }}>{% block title %}arXiv Images{% endblock %}</a></h1>
      {% endblock %}

      <div class="row">
        <div id="selected_image" class="selected-image"></div>
      </div>

      <div class="row">
        <div id="selected-image-meta" class="selected-image-meta-box"></div>
      </div>

      {% if prev_image_id %}
        console.log("prev_image_id not empty: " + {{ prev_image_id }});
        var img_src = {{url_for("static", filename="all/"+prev_image_id+".jpg")|tojson}};
        {% if si_meta[8]|length > 100 %}
          {% set si_authors_short = si_meta[8].split(";")[0] + " et al" %}
        {% else %}
          {% set si_authors_short = si_meta[8] %}
        {% endif %}
        {% if si_meta[11] != "None" %}
          {% set si_caption = si_meta[11] %}
        {% else %}
          {% set si_caption = "-" %}
        {% endif %}
        {% set pl = si_meta[10].lower().replace(","," ").split() %}
        {% set si_prediction_formatted = "{} {}<br>{} {}<br>{} {}<br>{} {}<br>{} {}".format(pl[1], pl[0], pl[3], pl[2], pl[5], pl[4], pl[7], pl[6], pl[9], pl[8]) %}
        var img_pred = '{% autoescape false %} {{ si_prediction_formatted }} {% endautoescape %}';
        var img_data = {{"<div class='meta-col'><b><em>Image</em><br>filename:</b> {}<br><b>x:</b> {}<b> y:</b> {}<br><b>format:</b> {}<br><b>creator:</b> {}<br><br></div><div class='meta-col'><b><em>Paper</em><br>identifier:</b> <a href=https://arxiv.org/abs/{}>{}</a><br><b>date:</b> {}<br><b>category:</b> {}<br><b>authors:</b> {}<br><b>title:</b> {}<br><br></div><div class='meta-col'><b><em>Figure</em><br>caption:</b> {}".format(si_meta[1], si_meta[2], si_meta[3], si_meta[4], si_meta[5], si_meta[0], si_meta[0], si_meta[6], si_meta[7], si_authors_short, si_meta[9], si_caption)|tojson }};
        // console.log(img_data);

        show_selected(img_src, img_data, img_pred);
      {% else %}
        $("#selected-block").css("display", "none");
      {% endif %}

      <div class="row">
        <div style="clear: both;"></div>
        <div id="main-form" class="form-inline">
          <form name="search" method="post">
            <div class="form-group form-inline" id="search-mode-form">
              <h2>Search the dataset:</h2>
              <span>

                <div id=random-text style="display: inline-block;">
                  <span style="font-size: 1.25em; vertical-align: top;">Sample dataset</span>
                  <!-- <button type="button" class="btn btn-light" style="vertical-align: top;">Random</button> -->
                </div>

                <label class="switch">
                  <input type="checkbox" name="search_select" id="search_select" value='on' onclick="toggleMode();">
                  <span class="slider round"></span>
                </label>
                <!-- <input id="a" type="checkbox"> -->
                <!-- <label for="a"> -->
                  <!-- <div class="can-toggle__switch" data-checked="Random" data-unchecked="ML"></div> -->
                  <!-- <div class="can-toggle__label-text">.can-toggle</div> -->
                <!-- </label> -->
                <div id=embedding-text>
                  <span style="font-size: 1.25em; vertical-align: top;">ML Embedding</span>
                </div>

            		<select class="custom-select mt-2 mb-2 mr-2" name="embedding" id="embedding" style="vertical-align: middle; margin: 0 0.5em 0 0.5em;">
                  <!-- <option value="random">random</option> -->
                  <option value="ternary">ternary</option>
                  <option value="VGG16">VGG16</option>
                  <option value="raw">raw</option>
                  <option value="cats">cats</option>
                </select>

                <label for="image_id" id="image_id_label" style="font-size: 1.15em; vertical-align: middle;">Target image</label>
                <input for="image_id" name="image_id" id="image_id" placeholder="Click on an image" style="vertical-align: middle; max-width: 160px;" type="number">
              </span>
            </div>

            <div id="filter-div">
              <button id="filter-btn" type="button" class="btn btn-light mt-2 mb-2 mr-2 collapsible" data-toggle="collapse" data-target="#filter-content">Optional Filters</button>

              <div id="filter-content" class="filter-content collapse form-group">
                <!-- row 1 -->
                <div class="row">

                  <div class="col-md-4">
                    <div class="category-dropdown">
                      <label for="category">arXiv category</label>
                      <div style="display: inline-block; vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right"
                        title="Search using the article category (subject area). Categories are listed according to the arXiv taxonomy. Searches first-listed category only.">
                        <i class="bi bi-info-circle"></i>
                      </div>
                      <input type="text" name="category" id="category" placeholder="Select an arXiv Category...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="author-filter">
                      <label for="author">Author</label>
                      <div style="display: inline-block; vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right"
                        title="Search the authors field of the arXiv article metadata. Searches all authors. The number indicates total number of matching images in this data subset.">
                        <i class="bi bi-info-circle"></i>
                      </div>
                      <input type="text" name="author" id="author" placeholder="Search by author...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="caption-filter">
                      <label for="caption-filter">Caption</label>
                      <input type="caption" name="caption" id="caption" placeholder="Search by caption keyword...">
                    </div>
                  </div>
                </div>

                <!-- row 2 -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="date-filter">
                      <span><label for="date-start">Date range</label></span>
                      <div style="display: block";>
                        <input type="date" id="date-start" name="date-start" min="1986-01-01" max="2020-06-30">
                        -
                        <input type="date" id="date-end" name="date-end" min="1986-01-01" max="2020-06-30">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="title-filter">
                      <label for="title">Paper title</label>
                      <input type="text" name="title" id="title" placeholder="Search by title keyword...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="prediction">
                      <label for="prediction">VGG prediction</label>
                      <div style="display: inline-block; vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right"
                        title="Search the predictions made by a VGG16 classifier that was trained on ImageNet. Searches only the top-1 prediction.">
                        <i class="bi bi-info-circle"></i>
                      </div>
                      <input type="text" name="prediction" id="prediction" placeholder="Search by VGG16 prediction...">
                    </div>
                  </div>
                </div>

                <!-- row 3 -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="creator-filter">
                      <label for="creator">Creator/Software</label>
                      <div style="display: inline-block; vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right"
                        title="Filter by the 'creator' or 'software' field in the image metadata. The number indicates total number of matching images in this data subset.">
                        <i class="bi bi-info-circle"></i>
                      </div>
                      <input type="text" name="creator" id="creator" placeholder="Search by software creator field...">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="imageformat-dropdown">
                      <label for="imageformat">Image format</label>
                      <select type="text" name="imageformat" id="imageformat" placeholder="Select an imageformat...">
                        <option value="">Select an imageformat...</option>
                        <option value="PNG">PNG</option>
                        <option value="PDF">PDF</option>
                        <option value="JPEG">JPEG</option>
                        <option value="GIF">GIF</option>
                        <option value="SVG">SVG</option>
                        <option value="PS">PS</option>
                        <option value="EPS">EPS</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>

              <div id="search-button-div" style="display: block;">
                <input type="submit" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Search images" id="search-images">
              </div>
            </div>
          </form>

            {% if result_total %}
              {% if not embedding %}
                {% set search_mode_text = "results by sampling dataset from {} total matching images".format(result_total) %}
              {% else %}
                {% set search_mode_text = "nearest results to the selected image from {} total matching images using {} embedding".format(result_total, embedding) %}
              {% endif %}
              {{ "Showing {} {}".format(images_shown, search_mode_text) }}
            {% else %}
              {% if not embedding %}
                {% set search_mode_text = "results by sampling dataset" %}
              {% else %}
                {% set search_mode_text = "nearest results to the selected image by {} embedding".format(embedding) %}
              {% endif %}
              {{ "Showing {} {}".format(images_shown, search_mode_text) }}
            {% endif %}
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li><a href="{{ url_for('core.about') }}">About</a>
          <li><a href="{{ url_for('core.get_images') }}">Interface</a>
        </ul>
      </nav>

    </ul>
  </div>

  {% if prev_image_id %}
  {% else %}
  <div id="description-text" style="display: block; position: relative; left: 360px; top: 0px; margin-bottom: 1em; width: calc(100% - 360px)">
    <body>
      Showing sample of images from arXiv. Click on an image to see metadata. Double click to select to use for nearest neighbour search using Machine Learning embeddings.
    </body>
  </div>
  {% endif %}

  <div class="image-grid">
    {% for i, image in enumerate(images) %}
      {% if metadata[i][8]|length > 100 %}
        {% set authors_short = metadata[i][8].split(";")[0] + " et al" %}
      {% else %}
        {% set authors_short = metadata[i][8] %}
      {% endif %}
      {% set pl = metadata[i][10].lower().replace(","," ").split() %}
      {% set prediction_formatted = "{} {}<br>{} {}<br>{} {}<br>{} {}<br>{} {}".format(pl[1], pl[0], pl[3], pl[2], pl[5], pl[4], pl[7], pl[6], pl[9], pl[8]) %}
      {# {% set abstract_short = metadata[i][12] %} #}
      {# [:100] + "..." #}
      {% if metadata[i][11] != "None" %}
        {% set caption = metadata[i][11] %}
      {% else %}
        {% set caption = "-" %}
      {% endif %}

      <!-- title="Metadata" data-sanitize="false" data-toggle="popover" data-html="true" -->
      <div class="grid-item" image_id={{image.split(".")[0]}}>
        <img class="grid-item-img" src={{url_for("static", filename="web/"+image+".jpg")}}
          prediction="{{ prediction_formatted }}" tab-data=" {{"
          <ul class='nav nav-tabs' id='tab-{}' role='tablist'>
            <li class='nav-item' role='presentation'>
              <a class='nav-link tab-link active' id='tab-id' image-id='{}' data-toggle='tab' href='#{}-id' role='tab' aria-controls='id' aria-selected='true'>ID</a>
            </li>
            <li class='nav-item' role='presentation'>
              <a class='nav-link tab-link' id='tab-fm' image-id='{}' data-toggle='tab' href='#{}-format' role='tab' aria-controls='format' aria-selected='false'>Format</a>
            </li>
            <li class='nav-item' role='presentation'>
              <a class='nav-link tab-link' id='tab-cp' image-id='{}' data-toggle='tab' href='#{}-caption' role='tab' aria-controls='caption' aria-selected='false'>Caption</a>
            </li>
          </ul>

          <div class='tab-content' id='tab-content-{}'>
            <div class='tab-pane fade show active' id='tab-{}-id' role='tabpanel' aria-labelledby='id-tab'>
              <b><em>Image</em><br>filename:</b> {}<br><b>x:</b> {}<b> y:</b> {}<br><b>format:</b> {}<br><b>creator:</b> {}<br><br>
            </div>
            <div class='tab-pane fade' id='tab-{}-fm' role='tabpanel' aria-labelledby='format-tab'>
              <b><em>Paper</em><br>identifier:</b> <a href=https://arxiv.org/abs/{}>{}</a><br><b>date:</b> {}<br><b>category:</b> {}<br><b>authors:</b> {}<br><b>title:</b> {}<br><br>
            </div>
            <div class='tab-pane fade' id='tab-{}-cp' role='tabpanel' aria-labelledby='caption-tab'>
              <b><em>Figure</em><br>caption:</b> {}
            </div>
          </div>".format(image, image, image, image, image, image, image, image, image, metadata[i][1], metadata[i][2], metadata[i][3], metadata[i][4], metadata[i][5], image, metadata[i][0], metadata[i][0], metadata[i][6], metadata[i][7], authors_short, metadata[i][9], image, caption)|e }}"
        >
      </div>
    {%- endfor %}
  </div>

  <script src="interface.js" type="text/javascript"></script>

{% endblock %}
